.botaoEditar {
    background-image: url(../resources/img/edit16.png)!important;
}

.ui-layout-unit-top {
	padding: 0;
	margin: 0;
	overflow: visible;
	z-index: 199;	
}

.ui-layout-unit-top .ui-layout-bd {
	border: 0;
	padding: 0;
	margin: 0;
}
#cboxNext{
	display:none !important;
}
#cboxPrevious {
	display:none !important;
}

.ui-layout-unit-center{
	border: 0px;	
}

.ui-layout-unit-center .ui-layout-bd{
	border: 0px;	
}

.ui-layout-unit-left{	
	
	
}
.ui-tooltip-content{
	background:#003bf5 !important;
	color:#fff000 !important;
	font-size: 11pt !important;
	font-weight: bold !important;
}

.ui-layout-unit-bottom .ui-layout-bd{	
	border: 0;
	padding: 0;
	margin: 0;
}

.docIcon
{
    background:#eee;
    background: linear-gradient(top, #ddd 0, #eee 15%, #fff 40%, #fff 70%, #eee 100%);
    border:1px solid #ccc;
    display:block;
    width:40px;
    height:56px;
    position:relative;
    margin:42px auto;
}


#rodape{
	text-align: center;	
}

.ui-widget, .ui-widget .ui-widget {
	 font-size: 10pt !important;	 
     font-family: "exoregular","Trebuchet MS",Arial,Helvetica,sans-serif;
}

#botaoSalvarELimpar{
	float:right;
}

#botaoCancelar{
	float: left;
}

.tabelaClientes {
	width:40%;
	float:left;
}
.tabelaAlerta {
	width:59%;
	float:right;
}

.painelFormulario {
	
	background:#EFEFEF !important;
    font-weight: bold !important;
    vertical-align: top;
    padding-left: 10px;
	
}

.painelFormulario td{
    vertical-align: top;
}

.painelFormularioHistorico {
		
	background:#EFEFEF !important;
    font-weight: bold !important;	
}

.outputHistorico {
    color:#000000 !important;
    font-size:9pt;
}

.fildsetPainel {
	
	font-weight: bold;
	
}
.botaoBuscar {
	background:#fff405 !important;
}
.botaoRecurso {
	color: #e67300 !important;
}
.botaoErro {
	color: #ff0000 !important;
}
.botaoValidar {
	background: #8ffd77 !important;
}
.botaoLinhaOnibus {
	color: #8ffd77 !important;
}
.botaoRecusar {
	background: #fe5868 !important;
}
.fildsetPainel .tabelaGerenciarAlunos {	
	font-weight: lighter !important;
	width:1200px !important;
}

.tabelaGerenciarAlunos table{
	max-width:1200px !important;
	padding: 0;
}

.painelErro {
	background: #f93e4e !important;
}

.painelAlerta {
	background:#ef7171;
}
.painelAlerta .ui-dialog-content{
	font-size:9pt !important;
	
}
.lista li{
	font-size:9pt !important;
}
.tabelaInformacoesHistorico label{
	color:#4d4d4d !important;
	font-size:8pt !important;
	margin-right:5px !important;
}
.recusado {
	color:#ff0000;
}
.concedido {
	color:#0d760a;
}

/* menu */
 .layoutMenu {
	 background-color: #313b3f;	
}

.ui-panelmenu .ui-menuitem {
  background-color:#313b3f;
  clear:both;
  float:left;
  margin:1px 0;
  padding:0;
  width:100%;
}

.ui-panelmenu .ui-menuitem-link {
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: 400;
    line-height: 16px;
    outline: medium none;
    padding: 0.3em;
    text-decoration: none;
    width: 97%;
}
.ui-widget-content a {
    color: #659eb3;
}
.ui-corner-all {
    border-radius: 3px;
}
a {
    outline: medium none;    
}

.ui-panelmenu .ui-panelmenu-header a {
    display: block;
    font-size: 20px;
    padding: 0.5em 0.5em 0.5em 2.2em;
  	background-color:#313b3f;
   	color: #9ba5ac;     
    font-family: "exoregular","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-weight: normal;
}


.ui-panelmenu .ui-panelmenu-content {
	background-color:#313b3f;
    border-top: 0 none;
    margin-top: -2px;
    overflow: auto;
    padding: 0.2em 0 0.2em 0.2em;
    position: relative;
    top: 1px;
}

/* Define o tamanho da descricao dos submenus */
.ui-panelmenu .ui-menuitem-link {
    cursor: pointer;
    font-weight: 400;
    line-height: 32px;
}  


/* Afeta outros componenetes da aplicacao*/
.ui-panelmenu .ui-widget-content {
    background: radial-gradient(circle at 50% 75% , #eeeeee, #eeeeee) repeat scroll 0 0 rgba(0, 0, 0, 0);    
    background: none;
    border:1px solid #313b3f;
    color: #000000;   
}



.ui-panelmenu .ui-state-default {
    background: background: linear-gradient(#ececec, #cccccc) repeat scroll 0 0 rgba(0, 0, 0, 0);   
    border: 0px solid #313b3f;
    color: #000000;
   	font-weight: bold;
    outline: 0 none;
     text-shadow: none; 
}


.ui-panelmenu .ui-state-hover{	
    background: background: linear-gradient(#ececec, #cccccc) repeat scroll 0 0 rgba(0, 0, 0, 0); 
    color: #659eb3;
    border: 0px solid #313b3f;
   	font-weight: bold;
    outline: 0 none;
    text-shadow: none; 
}

.ui-panelmenu .ui-state-hover,.ui-panelmenu .ui-widget-content .ui-state-hover,.ui-panelmenu .ui-widget-header .ui-state-hover,.ui-panelmenu .ui-state-focus,.ui-panelmenu .ui-widget-content .ui-state-focus,.ui-panelmenu .ui-widget-header .ui-state-focus {
    background:#101517;   
    color: #8dc5d9;
    font-weight: normal;
}

.ui-panelmenu .ui-state-active{
    background: background: linear-gradient(#ececec, #cccccc) repeat scroll 0 0 rgba(0, 0, 0, 0);   
    border: 0px solid #313b3f;
  	color: #ffffff;
    font-weight: bold;
    outline: 0 none;
    text-shadow: none;   
}   

/*.ui-panelmenu .ui-state-active .ui-icon {
    background-image: url("/resultado/javax.faces.resource/images/ui-icons_8dc262_256x240.png.jsf?ln=primefaces-south-street");
} */
 
/*******************************************/


/********* ICONES DOS MENUS *************/
.angular {
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/angular-32.png)!important;
}

.css {
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/css-32.png)!important;
}

.nodejs {
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/nodejs-32.png)!important;
}

.python {
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/python-32.png)!important;
}

.jquery {
	vertical-align: middle;
	display: inline-block;
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/jquery-32.png)!important;
}

.regiao {
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/location32.png)!important;
}

.cliente {
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/clients.png)!important;
}

.pesquisa {
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/research.png)!important;
}

.funcionario{
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/funcionario.png)!important;
}

.usuario{
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/usuario.png)!important;
}

.perfil{
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/perfil.png)!important;
}

.seguranca{
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/seguranca.png)!important;
}


.cadastro{
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/cadastro.png)!important;
}

.sair {
	margin-right : 10px;
	width: 32px;
	height: 32px;
	background-image: url(../img/logout.png)!important;
}

/****************************************/






.cancelRed16 {	
	width: 16px;
	height: 16px;
	background-image: url(../img/cancelRed16.png)!important;
}

.confirm16 {	
	width: 16px;
	height: 16px;
	background-image: url(../img/confirm16.png)!important;
}


.deleteRed16 {	
	width: 16px;
	height: 16px;
	background-image: url(../img/deleteRed16.png)!important;
}

.confirmLogin {	
	width: 16px;
	height: 16px;
	background-image: url(../img/confirmLogin.png)!important;
}

.clear {	
	width: 16px;
	height: 16px;
	background-image: url(../img/clear.png)!important;
}

.down16 {	
	width: 16px;
	height: 16px;
	background-image: url(../img/down16.png)!important;
}

.up16 {	
	width: 16px;
	height: 16px;
	background-image: url(../img/up16.png)!important;
}

.edit16 {	
	width: 16px;
	height: 16px;
	background-image: url(../img/edit16.png)!important;
}

.rowDataTableAprovado{
   background-color:#F0FFF0;
   background-image:none;
}

.rowDataTableDesaprovado{
   background-color:#FFAC75;
   background-image:none;
}

.rowDataTableSolicitacao{
   background-color:#FBFBF9;
   background-image:none;
}

.cellGridLabel {
    width: 130px;
}

.cellGridInput {
    width: 350px;
}


.alertaVermelho {
    background-color: #E81010;
    color: #ffffff;
    display: inline-block;
    margin-top: -5px;
    margin-left: -7px;
    overflow: hidden;
    padding: 6px 6px;
    position: absolute;
}


.alertaVerde {
    background-color: #008A2C;
    color: #ffffff;
    display: inline-block;
    margin-top: -5px;
    margin-left: -7px;
    overflow: hidden;
    padding: 6px 6px;
    position: absolute;
}

