<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>SENTINELSOFT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        
    <h:outputScript name="js/login.js" library="sentinel-layout" />
    <h:outputStylesheet name="css/font-icon-layout.css" library="sentinel-layout" />
    <h:outputStylesheet name="css/sentinel-layout.css" library="sentinel-layout" />
    <h:outputStylesheet name="css/core-layout.css" library="sentinel-layout" />
</h:head>

<h:body class="fontRegular login-back white-back">
    
    <div class="Container">
        <div class="Container80 MaxWid500 Fnone MarAuto TexAlCenter PaddingTopPercent10">
            <a href="" id="login-logo">
                <h:graphicImage name="images/LOGO.svg" styleClass="Fleft" library="sentinel-layout"/>
                <span class="Fs30 FontTitilliumSemiBoldItalic Fleft"><span class="hardblue"> SENTINEL</span><span class="softblue"> SOFT</span></span>
            </a>
            <div class="EmptyBox10"></div>
        </div>
        
        
			<h:form>
		        <!-- LOGIN BOX COVER START -->
		        <div class="Container80 MaxWid500 white-back Fnone MarAuto BordRad10" id="login-box">
		            <div class="Container">
		                <div class="Container100 TexAlCenter Animated05 BoxSizeBorder TabBtn left TabBtnActiveLeft" role="1" >
		                    <div class="Container80 Fnone MarAuto FontBold"><i class="icon-lock"></i> Login</div>
		                </div>               
		
		                <div class="Container90 Fnone MarAuto TexAlCenter TabContent OvHidden" id="TAB1">
		                    <div class="EmptyBox50"></div>
		                    <p:inputText id="usuario" value="#{loginMB.usuario.login}" required="true" validatorMessage="" requiredMessage="Digite o nome de usuário." placeholder="Usuário" styleClass="Container80 Fnone MarAuto Fs18"/>
		                    <div class="EmptyBox10"></div>
		                    <p:password id="senha" value="#{loginMB.usuario.senha}" placeholder="Senha" styleClass="Container80 Fnone MarAuto Fs18" feedback="false" required="true" requiredMessage="Digite a senha."/>
		                   
		                    <div class="EmptyBox30"></div>
		                    <p:commandButton  value="Entrar" styleClass="Fs16" action="#{loginMB.logar}" ajax="false" update="growl"/>
		                    <div class="EmptyBox50"></div>
		                </div>
		
		                
		            </div>
		        </div>
		  		<p:growl id="growl" showDetail="false" showSummary="true" life="3000"/>							
			</h:form>	      
    </div>
    <!-- LOGIN BOX COVER END -->
    
</h:body>

</html>