<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ps="http://primefaces.org/sentinel"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div id="layout-menubar" class="Unselectable fontRegular">
        <div class="layout-menubarinner-box" id="buttonArea">
            <a href="#" id="layout-menubar-resize" class="BordRad3" title="Menu Resize"><i class="icon-th-list-2"></i></a>
            <a href="#" id="layout-menubar-resize2" class="BordRad3" title="Open Menu"><i class="icon-menu"></i></a>
        </div>

        <div class="layout-menubarinner-box" id="searchArea">
            <i class="icon-search floatLeft gray"></i>
            <input type="text" class="layout-menubar-search floatLeft Animated05" placeholder="Search Here"/>
        </div>
        
       <!--   <h:form>
         	<ps:menu  model="#{menuPrimeFacesMB.menuPrimeFaces}" id="panelMenu"/>           	
         </h:form> -->
        <ps:menu id="sm_leftmenu">
            <p:menuitem id="sm_dashboard" value="Dashboard" icon="icon-home-outline" outcome="dashboard" containerStyleClass="layout-menubar-active"/>
            <p:submenu id="sm_sentineltheme" label="Sentinel Theme" icon="icon-gauge" >
                <p:menuitem id="sm_forms" value="Forms" icon="icon-doc-text-1" outcome="forms"/>
                <p:menuitem id="sm_datacomponents" value="Data Components" icon="icon-th" outcome="data"/>
                <p:menuitem id="sm_datatable" value="DataTable" icon="icon-table" outcome="datatable"/>
                <p:menuitem id="sm_panels" value="Panels" icon="icon-magic" outcome="panel"/>
                <p:menuitem id="sm_overlays" value="Overlays" icon="icon-newspaper" outcome="overlay"/>
                <p:menuitem id="sm_menus" value="Menus" icon="icon-menu" outcome="menu"/>
                <p:menuitem id="sm_messages" value="Messages" icon="icon-bell" outcome="messages"/>
                <p:menuitem id="sm_fu" value="FileUpload" icon="icon-docs" outcome="file"/>
                <p:menuitem id="sm_misc" value="Misc" icon="icon-beaker" outcome="misc"/>
            </p:submenu>
            <p:submenu id="sm_dp" label="Default Pages" icon="icon-pin-outline">
                <p:menuitem id="sm_empty" value="Empty Page" icon="icon-plus-squared-alt" outcome="empty-page"/>
                <p:menuitem id="sm_login" value="Login Page" icon="icon-login" outcome="login"/>
                <p:menuitem id="sm_error" value="Error Page" icon="icon-warning-empty" outcome="error" />
                <p:menuitem id="sm_404" value="404 Page" icon="icon-warning-empty" outcome="404"/>
                <p:menuitem id="sm_access" value="Access Denied Page" icon="icon-warning-empty" outcome="access-denied"/>
            </p:submenu>
            <p:submenu id="sm_menu" label="Menu Hierarchy" icon="icon-sitemap">
                <p:submenu id="sm_sub1" label="Submenu 1" icon="icon-folder-empty">
                    <p:submenu id="sm_sub1_1" label="Submenu 1.1" icon="icon-folder-empty">
                        <p:submenu id="sm_sub1_1_1" label="Submenu 1.1.1" icon="icon-folder-empty">
                            <p:menuitem id="sm_lnk1" value="Link 1" icon="icon-link" outcome="empty-page.xhtml"/>
                            <p:menuitem id="sm_lnk2" value="Link 2" icon="icon-link" outcome="empty-page.xhtml" />
                            <p:menuitem id="sm_lnk3" value="Link 3" icon="icon-link" outcome="empty-page.xhtml" />
                        </p:submenu>
                    </p:submenu>
                </p:submenu>
            </p:submenu>
            <p:menuitem id="sm_fonts" value="Font Icons" icon="icon-book" outcome="font-icons.xhtml" />
            <p:menuitem id="sm_user" value="User Profile" icon="icon-vcard" outcome="empty-page" />
            <p:menuitem id="sm_tasks" value="Tasks" icon="icon-tasks" outcome="empty-page" />
            <p:menuitem id="sm_contact" value="Contact" icon="icon-phone" outcome="empty-page" />
            <p:menuitem id="sm_doc" value="Documentation" icon="icon-graduation-cap" outcome="documentation" />           	
        </ps:menu>          
    </div>
</ui:composition>
