<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Sentinel</title>
        <h:outputScript name="js/layout.js" library="sentinel-layout" />
        <h:outputScript library="js" name="jquery.maskMoney.js"/>
        <ui:insert name="head" />
    </h:head>

    <h:body>        
        <ui:include src="topbar.xhtml" />

        <ui:include src="leftmenu.xhtml" />

        <div id="layout-portlets-cover" class="fontRegular">
            <ui:insert name="content">
               Template
            </ui:insert>
        </div>
        
        <p:ajaxStatus style="width:32px; height:32px; 
        			  position:fixed; right:12px; bottom:10px" onsuccess="configurarMoeda()">
            <f:facet name="start">
                <p:graphicImage name="images/preloader.gif" library="sentinel-layout"/>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>
        
        <script>
			function configurarMoeda() {
				$(".moeda").maskMoney({ decimal: ",", thousands: ".", allowZero: true });
			}
			
			$(document).ready(function() {
				configurarMoeda();
			});
		</script>

        <h:outputStylesheet name="css/font-icon-layout.css" library="sentinel-layout" />
        <h:outputStylesheet name="css/sentinel-layout.css" library="sentinel-layout" />
        <h:outputStylesheet name="css/core-layout.css" library="sentinel-layout" />
    </h:body>
</html>