<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    
    <div id="layout-header" class="Unselectable fontRegular">
    
    	<p:growl id="msg"/>	
    
    	<!--  <h:form>		   
				<p:ajaxStatus	style="width:10px;height:10px;position:absolute;top:1px;right:90px;z-index:1;">
					<f:facet name="start">				
						<h:panelGrid columns="1">
							<h:graphicImage  name="images/animation.gif"   width="38"	height="38"  library="sentinel-layout"/>							
						</h:panelGrid>				
					</f:facet>
		
					<f:facet name="complete">
						<h:outputText value="" />
					</f:facet>
				</p:ajaxStatus>			
		</h:form>		  -->
    
        <a href="#{request.contextPath}/dashboard.xhtml" id="layout-logo">
            <h:graphicImage name="images/LOGO.svg" styleClass="Fleft" library="sentinel-layout"/>
            <span class="Fs19 FontTitilliumSemiBoldItalic Fleft"><span class="hardblue">SENTINEL</span><span class="softblue"> SOFT</span></span>
        </a>
    	<ul id="sm-topmenu" class="layout-header-widgets white Fs14">
    		 <li class="Fleft BordRadHalf TexAlCenter"><i class="icon-user-male"></i>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a class="white Unselectable"><i class="icon-user-male Fs26 OvHidden"></i><span class="Fs18">Walter White<br/><span class="Fs10">Last Login - 18.08.2014</span></span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-stopwatch-1"></i>User Tasks</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-users-2"></i>Create New User</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-sliders"></i>User Preferences</a></li>
    			</ul>
    		</li>
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-mail"></i><span class="alertBubble BordRad10 Fs9">166</span>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty yellow"></i>Gustavo Fring<br/><span class="Fs10">What does a man do Walter?</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty"></i>Skyler White<br/><span class="Fs10">Where are you?.</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty red"></i>Hank Schrader<br/><span class="Fs10">Barbecue photos from last weekend.</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty red"></i>Jesse Pinkman<br/><span class="Fs10">Mr. White.</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty"></i>Heisenberg<br/><span class="Fs10">I am the one who knocks.</span></a></li>
    			</ul>
    		</li>
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-bell"></i><span class="alertBubble BordRad10 Fs9">24</span>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag red"></i>New Products</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag yellow"></i>Today Sales Reports</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag red"></i>Visit Reports</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag red"></i>Sales Reports</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag"></i>Task Alerts</a></li>
    			</ul>
    		</li>
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-wrench-1"></i>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-sun"></i>System Settings</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-lifebuoy"></i>Help Desk</a></li>
    			</ul>
    		</li>
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-power"></i>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">    				
    				<!-- <li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-logout"></i>Log Out</a></li> -->
    				<h:form>
    				<li class="Animated05"><h:commandLink styleClass="white Unselectable" action="#{loginMB.sair()}"><i class="icon-logout"></i>Log Out</h:commandLink></li>
    				</h:form>    				
    			</ul>
    		</li>
    	</ul>
    	<!-- NEVER REMOVE FOLLOWING 'UL' TAG ! BECAUSE THIS CONTAINS RESPONSIVE MODE HEADER MENU OPEN-CLOSE BUTTON -->
    	<ul id="sm-mobiletopmenu" class="layout-header-widgets white Fs14">
    		<li class="Fleft BordRadHalf TexAlCenter Animated05 DisplayOnResponsive"><i class="icon-th-1"></i></li>
    	</ul>
    	<!-- ****** -->
   	</div>    
</ui:composition>